//@blue #6298ad
//@green #728b49
//@red #c5442e
//@yellow #9c894a
//@orange #888e29
//@pink #2381b3
//@purple #ac5167

TYPOGRAPHY
@serifFontFamily 'bemboregular', Georgia, 'Times New Roman', Times, serif
@baseFontFamily @serifFontFamily

NAVBAR
@navbarBackground @white
@navbarBackgroundHighlight @white
@navbarText @graydark

DROPDOWNS
@dropdownBackground #eee
@dropdownBorder transparent
@dropdownLinkBackgroundHover #eee
