// colors
@red: #c5442e;
@blue: #6298ad;

@purple: #ac5167;
@green: #728b49;

@darkblue: #2381b3;
@gold: #9c894a;

@olive: #888e29;
@bluesea: #678399;

// responsive

//.setColor(@color) {
//    (~"body.@{color}") { background-color: ~"@{@{color}}";
//        #container { background-color: ~"@{@{color}}";
//         p { color: ~"@{@{color}}"; }
//      }
//    }
//}
.setColor(@color,@color2) {
	body.@{color2} {
		#pre-menu > li,
		#navega,
		.topslim
		{ border-color: ~"@{@{color2}}";}
		#predown a { color: ~"@{@{color2}}"; }
		#margen {
			a
			{ color: ~"@{@{color2}}"; }
			.topfat
			{border-color: ~"@{@{color2}}"; }
		}
		#content {
			.art-text
			{ color: ~"@{@{color2}}"; }
		}
		#epi
		{ background-color: ~"@{@{color2}}";}
	}

	body.@{color} {
		#lema,
		#banner,
		#breadcrumbs li
		{ color: ~"@{@{color}}"; }
		#pre-menu {
			a:hover
			{ color: ~"@{@{color}}"; }
			li.current-menu-item,
			li.current-menu-ancestor,
			li:hover
			{ border-color: ~"@{@{color}}";
				> a { color: ~"@{@{color}}"; }
			}
		}
		#margen {
			.tit2,
			p
			{ color: ~"@{@{color}}"; }
		}
		#hoja > .topfat
		{border-color: ~"@{@{color}}"; }
		#content {
			.art-tit,
			.tit2,
			.art a
			{ color: ~"@{@{color}}"; }
		}
	}
	
	body.@{color}_@{color2} {
		#logo {
			@media (min-width: 1200px) {
				background-image: url('images/logo-@{color}_@{color2}-270.png');
				height: 102px;
			}
			@media (min-width: 979px) and (max-width: 1199px) {
				background-image: url('images/logo-@{color}_@{color2}.png');
				height: 85px;
			}
			@media (min-width: 768px) and (max-width: 978px) {
				background-image: url('images/logo-@{color}_@{color2}-166.png');
				height: 67px;
			}
		}
	}
}

//.setColor("red"); // Quotes, or the value is parsed as "#FF0000" instead of "red"
.setColor(~"red",~"blue"); // Quotes, or the value is parsed as "#FF0000" instead of "red"
.setColor(~"purple",~"green");
.setColor(~"darkblue",~"gold");
.setColor(~"olive",~"bluesea");
